{% extends 'main/base.html' %}

{% block title %}
Создать новость
{% endblock %}

{% block content %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.TitleNews }}
                </div>
                <div class="col">
                    {{ form.Author }}
                </div>
            </div>
            <br>
            {{ form.SomeNews }}<br>
            {{ form.Tags }}<br>
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success">Добавить</button>
                <div class="me-3"></div>
                {{ form.Image }}
            </div>
            <samp>{{ error }}</samp>
        </form>
{% endblock %}
